<html>
<head>
    <title>Snappir</title>
    <link href="https://fonts.googleapis.com/css?family=Lato|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="assets/styling.css">
    <link rel="stylesheet" href="assets/tabletStyles.css">
    <link rel="stylesheet" href="assets/mobileStyles.css">
</head>
<body>
<div>