<!DOCTYPE html>
<html>
    <head>
        <title>PhotoVault</title>
        <base href="/">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <style>
            .thumbnail img {
                width: 100%;
            }

            .thumbnail {
                padding: 0;
            }

            .photo {
                width: 100%;
            }

            a.nostyle:link, a.nostyle:visited {
                text-decoration: inherit;
                color: inherit;
                cursor: auto;
            }

        </style>
    </head>
    <body>
    <div class="container-fluid">

        <ul class="nav">
            <li class="nav-link">
                <a href="/home">Home</a>
            </li>
            <li class="nav-link">
                <a href="/account">Account</a>
            </li>
            <li class="nav-link">
                <a href="/logout">Logout</a>
            </li>
        </ul>