<!DOCTYPE html>
<html>
    <head>
        <title>Snappir</title>
        <base href="/">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lato|Varela+Round" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
        <link rel="stylesheet" href="assets/styling.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <style>
            .grid-default{
                opacity: 0;
            }
            .grid {
                display: flex;
                flex-wrap: wrap;
                position: relative;
            }
            .grid > img {
                max-height: 100px;
            }

            .grid::after {
                content: '';
                flex-grow: 10000;
            }

            .grid > figure {
                margin: 2px;
                position: relative;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
            }

            .grid > figure > i {
                display: block;
            }

            .grid > figure > a > img {
                position: absolute;
                top: 0;
                width: 100%;
                height: auto;
            }

            .blank-btn {
                border: none;
                background-color: transparent;
            }

            .thumbnail img {
                width: 100%;
            }

            .thumbnail {
                padding: 0;
            }

            .photo {
                width: 100%;
            }

            a.nostyle:link, a.nostyle:visited {
                text-decoration: inherit;
                color: inherit;
                cursor: auto;
            }

            .post-full{
                padding: 2px 2px 2px 2px;
            }

            .post {
                height: 450px;
                border: 1px solid #dddddd;
                border-radius: 10px;
            }

            .fullPost {
                padding: 0 10px 0 10px;
                border-left: 2px solid #dddddd;
                border-right: 2px solid #dddddd;
            }

            .description {
                font-size: 20px;
                margin: 40px auto 100px auto;
                padding: 10px 0 0 0;
                border-top: 1px solid #eeeeee;
            }

            #deleteForm {
                display: inline;
            }

            .title {
                background-color: #eeeeee;
                border-top: 1px solid #dddddd;
                border-left: 1px solid #dddddd;
                border-right: 1px solid #dddddd;
                margin: 4px 0 0 0;
                padding: 2px 3px 0px 3px;
            }
            .center-content{
                margin: 0 80px 0 80px;
            }
            .no-box-input{
                height: 50px;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid #dddddd;
                font-size: 30px;
                padding-left: 10px;
            }
        </style>
    </head>
    <body>
        <nav class="snappir-nav">
            <div class="snappir-container">
                <a class="nav-snappir-logo" href="/home">Snappir</a>
                <div class="nav-search">
                    <form action="/home" method="get">
                        <input type="text" class="snappir-search" name="search" placeholder=" Post title, author, keyword...">
                        <button type="submit" class="snappir-search-btn">Search</button>
                    </form>
                </div>
                <a class="nav-account" href="/account">Account</a>
                <button class="nav-more-btn">More</button>
            </div>
        </nav>
        <div class="nav-more">
            <form action="/home" method="get" class="nav-more-form">
                <input type="text" class="nav-more-search" name="search" placeholder=" Search">
                <button type="submit" class="more-search-btn"><!--<i class="fas fa-search"></i>--></button>
            </form>
            <h3 class="nav-more-header">Account</h3>
            <h5 class="nav-more-item">Photos</h5>
            <h5 class="nav-more-item">Collections</h5>
            <h5 class="nav-more-item">followers</h5>
            <h5 class="nav-more-item">following</h5>
            <h5 class="nav-more-item">messages</h5>
            <h5 class="nav-more-item">favorites</h5>
            <h5 class="nav-more-item">settings</h5>
        </div>
        <div class="nav-content-space"></div>
        <div>

            <script>
                var moreBtn = document.querySelector(".nav-more-btn");
                var more = document.querySelector(".nav-more");
                var moreOn = false;

                window.matchMedia("(min-width: 992px)").addListener(function(){
                    more.style.display = "none";
                    moreOn = false;
                })

                moreBtn.addEventListener("click", function(){
                    if(moreOn){
                        more.style.display = "none";
                        moreOn = false;
                    } else {
                        more.style.display = "block";
                        moreOn = true;
                    }
                })
            </script>
