<!DOCTYPE html>
<html>
    <head>
        <title>Snappir</title>
        <base href="/">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lato|Varela+Round" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
        <link rel="stylesheet" href="assets/styling.css">
        <link rel="stylesheet" href="assets/tabletStyles.css">
        <link rel="stylesheet" href="assets/mobileStyles.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <nav class="snappir-nav">
            <div class="snappir-container">
                <div class="snappir-nav-container">
                    <a class="nav-snappir-logo" href="/home">Snappir</a>
                    <div class="nav-search">
                        <form action="/home" method="get">
                            <input type="text" class="snappir-search" name="search" placeholder=" Post title, author, keyword...">
                            <button type="submit" class="snappir-search-btn">Search</button>
                        </form>
                    </div>
                    <a class="nav-account" href="/account">Account</a>
                    <button class="nav-more-btn">More</button>
                </div>
            </div>
        </nav>
        <div class="nav-more">
            <form action="/home" method="get" class="nav-more-form">
                <input type="text" class="nav-more-search" name="search" placeholder=" Search">
                <button type="submit" class="more-search-btn">Search<!--<i class="fas fa-search"></i>--></button>
            </form>
            <h3 class="nav-more-header">Account</h3>
            <h5 class="nav-more-item"><a href="/account" class="nostyle">Photos</a></h5>
            <!--<h5 class="nav-more-item"><a href="/account/collections" class="nostyle">Collections</a></h5>-->
            <h5 class="nav-more-item"><a href="/account/followers" class="nostyle">followers</a></h5>
            <h5 class="nav-more-item"><a href="/account/following" class="nostyle">following</a></h5>
            <h5 class="nav-more-item"><a href="/account/messages" class="nostyle">messages</a></h5>
            <h5 class="nav-more-item"><a href="/account/favorites" class="nostyle">favorites</a></h5>
            <h5 class="nav-more-item"><a href="/account/settings" class="nostyle">settings</a></h5>
            <h5 class="nav-more-item account-nav-danger"><a href="/logout" class="nostyle">Logout</a></h5>
        </div>
        <div class="nav-content-space"></div>
        <div>

            <script>
                var moreBtn = document.querySelector(".nav-more-btn");
                var more = document.querySelector(".nav-more");
                var moreOn = false;

                window.matchMedia("(min-width: 992px)").addListener(function(){
                    more.style.display = "none";
                    moreOn = false;
                })

                moreBtn.addEventListener("click", function(){
                    if(moreOn){
                        more.style.display = "none";
                        moreOn = false;
                    } else {
                        more.style.display = "block";
                        moreOn = true;
                    }
                })
            </script>
