<!DOCTYPE html>
<html>
    <head>
        <title>Snappir</title>
        <base href="/">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <style>

            .blank-btn {
                border: none;
                background-color: transparent;
            }

            .thumbnail img {
                width: 100%;
            }

            .thumbnail {
                padding: 0;
            }

            .photo {
                width: 100%;
            }

            a.nostyle:link, a.nostyle:visited {
                text-decoration: inherit;
                color: inherit;
                cursor: auto;
            }

            .post-full{
                padding: 2px 2px 2px 2px;
            }

            .post {
                height: 450px;
                border: 1px solid #dddddd;
                border-radius: 10px;
            }

            .fullPost {
                padding: 0 10px 0 10px;
                border-left: 2px solid #dddddd;
                border-right: 2px solid #dddddd;
            }

            .description {
                font-size: 20px;
                margin: 40px auto 100px auto;
                padding: 10px 0 0 0;
                border-top: 1px solid #eeeeee;
            }

            #deleteForm {
                display: inline;
            }

            .title {
                background-color: #eeeeee;
                border-top: 1px solid #dddddd;
                border-left: 1px solid #dddddd;
                border-right: 1px solid #dddddd;
                margin: 4px 0 0 0;
                padding: 2px 3px 0px 3px;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand h1" href="/home"><em>Snappir</em></a>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/account">Account</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid">
