<html>
    <head>
        <title>PhotoVault</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    </head>
    <body>
    <div class="container">

        <ul class="nav">
            <li class="nav-link">
                <a href="/home">Home</a>
            </li>
            <li class="nav-link">
                <a href="/account">Account</a>
            </li>
            <li class="nav-link">
                <a href="/logout">Logout</a>
            </li>
        </ul>
