<% include partials/header.ejs %>

<script type="text/javascript" src="countries.js"></script>

<form action="/home" method="GET">
    <select id="searchBy" name="searchBy" class="form-control">
        <option value="title">Title</option>
        <option value="description">Description</option>
        <option value="author">Author</option>
    </select>
    <input type="text" id="search" class="form-control" name="search">
    <button type="submit" id="searchBtn" class="btn btn-xs btn-primary">Search</button>
</form>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border: solid 1px #333333">
    <div class="form-group">
        <label for="sortBy">Sort By: </label>
        <select id="sortBy" name="sortBy" class="form-control">
            <option value="newest" selected="selected">Newest</option>
            <option value="highest rated">Highest Rated</option>
            <option value="most favorited">Most favorited</option>
            <option value="most viewed">Most Viewed</option>
        </select>
    </div>
    <div class="form-group col">
        <label for="within">Within: </label>
        <select id="within" name="within" class="form-control">
            <option value="day">Past Day</option>
            <option value="week">Past Week</option>
            <option value="month" selected="selected">Past Month</option>
            <option value="year">Past Year</option>
            <option value="ever">Ever</option>
        </select>
    </div>
    <div class="form-group col">
        <label for="photoType">PhotoType: </label>
        <select id="photoType" name="photoType" class="form-control">
            <option value="any" selected="selected">Any</option>
            <option value="landscapes">Landscapes</option>
            <option value="cityscapes">Cityscapes</option>
        </select>
    </div>
    <div class="form-group col">
        <label for="sortBy">Country: </label>
        <select id="country" name="country" class="form-control">
            <option value="all" selected="selected">All</option>
        </select>
    </div>
    <button id="sortBtn" class="btn btn-xs btn-primary">Sort</button>
</nav>

<div id="postsSection" class="text-center" style="display: flex; flex-wrap: wrap">
    <% posts.forEach(function(post){ %>
        <div class="col-md-4">
            <a href="/home/<%=post._id%>" class="nostyle">
                <div>
                    <div class="caption">
                        <h4><%=post.title%></h4>
                    </div>
                    <div class="thumbnail">
                        <img src="<%=post.image%>">
                    </div>
                    <p><%=post.description%></p>
                </div>
            </a>
        </div>
    <%});%>
</div>

<script>
    var postsSection = document.querySelector("#postsSection");
    var countriesList = document.querySelector("#country");
    var sortBy = document.querySelector("#sortBy");
    var within = document.querySelector("#within");
    var photoType = document.querySelector("#photoType");
    var country = document.querySelector("#country");
    var sortBtn = document.querySelector("#sortBtn");

    var html = '';
    countries.forEach(function(country){
        html += '<option value="' + country.name + '">' + country.name + '</option>';
    })
    countriesList.innerHTML += html;

    sortBtn.addEventListener("click", function(){
        axios.post("/api/sort", {
            sortBy: sortBy.value,
            within: within.value,
            photoType: photoType.value,
            country: country.value
        })
            .then(function(res){
                setupPosts(res);
            })
    })

    function setupPosts(res){
        var html = "";
        var html1 = "";
        var html2 = "";
        var html3 = "";
        var post = res.data;

        for(var p = 1; p <= res.data.length; p++){
            if(p == 1){
                html += '<div id="column-1" class="col-md-4"></div>';
            } else if(p == 2){
                html += '<div id="column-2" class="col-md-4"></div>';
            } else if(p == 3){
                html += '<div id="column-3" class="col-md-4"></div>';
            }
            if(p == 1 || p % 3 == 1){
                html1 += '<a href="/home/' + post[p-1]._id + '" class="nostyle">';
                html1 += '<div>';
                html1 += '<div class="caption">';
                html1 += '<h4>' + post[p-1].title + '</h4>';
                html1 += '</div>'
                html1 += '<div class="thumbnail">';
                html1 += '<img src="' + post[p-1].image + '">';
                html1 += '</div>';
                html1 += '<p>' + post[p-1].description + '</p>';
                html1 += '</div>';
                html1 += '</a>';
            } else if(p == 2 || p % 3 == 2){
                html2 += '<a href="/home/' + post[p-1]._id + '" class="nostyle">';
                html2 += '<div>';
                html2 += '<div class="caption">';
                html2 += '<h4>' + post[p-1].title + '</h4>';
                html2 += '</div>'
                html2 += '<div class="thumbnail">';
                html2 += '<img src="' + post[p-1].image + '">';
                html2 += '</div>';
                html2 += '<p>' + post[p-1].description + '</p>';
                html2 += '</div>';
                html2 += '</a>';
            } else if(p % 3 == 0){
                html3 += '<a href="/home/' + post[p-1]._id + '" class="nostyle">';
                html3 += '<div>';
                html3 += '<div class="caption">';
                html3 += '<h4>' + post[p-1].title + '</h4>';
                html3 += '</div>'
                html3 += '<div class="thumbnail">';
                html3 += '<img src="' + post[p-1].image + '">';
                html3 += '</div>';
                html3 += '<p>' + post[p-1].description + '</p>';
                html3 += '</div>';
                html3 += '</a>';
            }
        };
        postsSection.innerHTML = html;

        var col1 = document.querySelector("#column-1");
        var col2 = document.querySelector("#column-2");
        var col3 = document.querySelector("#column-3");

        col1.innerHTML = html1;
        col2.innerHTML = html2;
        col3.innerHTML = html3;
    }

</script>

<% include partials/footer.ejs %>