<% include partials/headerSignedOut.ejs %>


<div class="index-background">
    <div class="index-background-darken">
        <div class="snappir-container">
            <div class="index-contain">
                <div class="index-row">
                    <div class="index-side-container">
                        <div class="index-side">
                            <div class="index-logo">SNAPPIR</div>
                            <div class="index-slogan">Share your travel memories</div>
                        </div>
                    </div>
                    <div class="index-side-container">
                        <div class="index-side">
                            <div class="index-sign-in-title">Have an account?</div>
                            <div class="index-sign-in-slogan">Sign In!</div>
                            <div class="index-form">
                                <form action="/login" method="POST">
                                    <div>
                                        <label for="username" class="sign-in-label">Username or Email</label>
                                        <input type="text" name="username" id="username" class="input">
                                    </div>
                                    <div>
                                        <label for="password" class="sign-in-label">Password</label>
                                        <input type="password" name="password" id="password" class="input">
                                    </div>
                                    <button type="submit" class="button login-btn">Login</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <div class="division-container">
            <div class="index-division">
                <div class="index-division-or">OR</div>
            </div>
        </div>
        <div class="index-bottom">
            <div class="index-sign-up-title">CREATE AN ACCOUNT</div>
            <div class="index-sign-up-slogan">It's super simple!</div>
            <div class="snappir-container">
                <form action="/" method="POST" style="width: 100%;">
                    <div>
                        <div class="index-row">
                            <div class="index-side-container">
                                <div class="index-side">
                                    <div class="index-form">
                                        <div>
                                            <label for="first" class="sign-up-label">First Name</label>
                                            <input type="text" name="firstName" id="first" class="input">
                                        </div>
                                        <div>
                                            <label for="username" class="sign-up-label">Username</label>
                                            <input type="text" name="username" id="username" class="input">
                                        </div>
                                        <div>
                                            <label for="password" class="sign-up-label">Password</label>
                                            <input type="password" name="password" id="password" class="input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="index-side-container">
                                <div class="index-side">
                                    <div class="index-form index-form-right">
                                        <div>
                                            <label for="last" class="sign-up-label">Last Name</label>
                                            <input type="text" name="lastName" id="last" class="input">
                                        </div>
                                        <div>
                                            <label for="email" class="sign-up-label">Email</label>
                                            <input type="email" name="email" id="email" class="input">
                                        </div>
                                        <div>
                                            <label for="password2" class="sign-up-label">Confirm Password</label>
                                            <input type="password" name="password2" id="password2" class="input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="center-div-container register-btn-container">
                            <button type="submit" class="button">Create account</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

<% include partials/footer.ejs %>