<% include partials/header.ejs %>

<h2>PhotoVault</h2>
<h4>Sign Up</h4>

<form action="/home" method="post">
    <p>
    <label for="first">First Name</label>
    <input type="text" name="first" id="first">
    <label for="last">Last Name</label>
    <input type="text" name="last" id="last">
    </p>
    <p>
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
    </p>
    <p>
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
    </p>
    <p>
    <label for="password1">Password</label>
    <input type="password" name="password1" id="password1">
    <label for="password2">Confirm Password</label>
    <input type="password" name="password2" id="password2">
    </p>
    <button type="submit" name="signup">Sign Up</button>
</form>

<h5>OR</h5>
<h4>Have an Account? Log In!</h4>

<form action="/home" method="get">
    <p>
    <label for="user">Username or Email</label>
    <input type="text" name="user" id="user">
    </p>
    <p>
    <label for="password">Password</label>
    <input type="text" name="password" id="password">
    </p>
    <button type="submit" name="login">Login</button>
</form>

<% include partials/footer.ejs %>