<% include partials/header.ejs %>

<h3><%=currentUser.username%>'s Account</h3>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border: solid 1px #333333">
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="/account">Photos</a>
        <a class="nav-item nav-link" href="/account/following">Following</a>
        <a class="nav-item nav-link" href="/account/followers">Followers</a>
        <a class="nav-item nav-link active" href="/account/messages">Messages</a>
        <a class="nav-item nav-link" href="#">Settings</a>
        <a class="nav-item nav-link" href="/logout">Logout</a>
    </div>
</nav>

<h3>Conversations (<%=convs.length%>)</h3>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Username</th>
        <th scope="col">Latest Message</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <%var user;%>
    <%convs.forEach(function(conv){%>
    <%if(conv.user1.username == currentUser.username){user = conv.user2.username} else {user = conv.user1.username};%>
    <tr>
        <td><%=user%></td>
        <td><%=conv.messages[(conv.messages.length - 1)].text%></td>
        <td><button id="viewButton" class="btn btn-xs" >View</button></td>
    </tr>
    <%});%>
    </tbody>
</table>

<script>

</script>

<% include partials/footer.ejs %>