<% include partials/header.ejs %>

<div class="container">
    <h2><%=post[0].title%></h2>
    <img src="<%=post[0].image%>" class="photo">
    <p><%=post[0].description%></p>
</div>

<% include partials/footer.ejs %>